<%- include('./header') %>  
<div class="container">
<div class="row justify-content-md-center">
<div class="card col-md-10">
  <div class="card-body">
    <h5 class="card-title">login</h5>
    <form class="" action="/login" method="post">
      <div class="form-group">
        <label>phone Number</label>
        <input class="form-control" type="text" name="phoneNumber">
        <label>password</label>
        <input class="form-control" type="password" name="password">
      </div>
      <button class="btn btn-dark" type="submit">login</button>
    </form>
  </div>
</div>
</div>
</div>
<%- include('./footer') %>  





  


